{% extends 'generic/object.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
    {% for number in object.get_parent_chain %}
      <li class="breadcrumb-item"><a href="{{ number.get_absolute_url }}">{{ number.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">
                    {% trans "Information" %}             </h5>
                <table class="table table-hover panel-body attr-table">
                   
                    <tr>
                        <td>Pool</td>
                        <td>
                            {% if object.pool %}
                                <a href="{{ object.pool.get_absolute_url }}">{{ object.pool.name }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                     <tr>
                        <td>Tenant</td>
                        <td>
                            {% if object.pool %}
                                <a href="{{ object.tenant.get_absolute_url }}">{{ object.pool.tenant }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>

                   <tr>
                        <td>Site</td>
                        <td>
                            {% if object.pool %}
                                <a href="{{ object.site.get_absolute_url }}">{{ object.pool.site }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col col-md-6">
            <!-- {% include 'inc/panels/tags.html' %} -->
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/comments.html' %}
        </div>
    </div>
  
{% endblock content %}
